* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'arial', cursive;
  overflow-x: hidden;
}
header {
  background-color: rgb(154, 154, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white;
  margin-bottom: 20px;
}
.sumbu h4 {
  width: 60px;
  display: flex;
  animation: SumbuAnimation 5s ease 2;
}
@keyframes SumbuAnimation {
  0% {
    font-size: 0px;
  }
  50% {
    font-size: 8px;
  }
  100% {
    font-size: 16px;
  }
}
.sumbu1 {
  justify-content: start;
}
.sumbu2 {
  justify-content: end;
}
.kotak {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 2.5px black;
  animation: KotakAnimation 5s ease 2;
}
@keyframes KotakAnimation {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }
}
.bujur_sangkar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 10px;
}
.Rumus_Luas_Persegi {
  display: flex;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.rumus,
.Hitung_Luas_Persegi,
div.sumbu {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
form input {
  width: 99%;
  padding: 0px;
  margin: 10px 0px;
  border: 2px solid rgb(161, 161, 161);
  border-radius: 2px;
  border-color: black;
  box-shadow: 2px 2px 2.5px black;
}
.btn {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2.5px black;
}
.btn_hitung {
  background-color: rgb(154, 154, 248);
  margin: auto;
}
.btn_reset {
  background-color: rgb(255, 166, 0);
  margin-left: 1285px;
}
button:hover {
  transform: scale(0.9);
  background-color: rgb(0, 255, 0);
}
footer {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(154, 154, 248);
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 0.7em;
  }
  h1 {
    font-size: 1.3em;
  }
  .btn {
    width: 40px;
    height: 20px;
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
  form input {
    width: 97.5%;
  }
  .btn_reset {
    margin-left: 675px;
  }
  .btn {
    margin-top: 10px;
    margin-top: 10px;
  }
  footer {
    padding: 20px;
  }
  header {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 0.7em;
  }
  h1 {
    font-size: 1.3em;
  }
  .btn {
    width: 40px;
    height: 20px;
    font-size: 10px;
    box-shadow: 1px 1px 1.5px black;
  }
  p {
    font-size: 10px;
  }
  form input {
    width: 94%;
  }
  .btn_reset {
    margin-left: 445px;
    margin-bottom: 61px;
  }
  .kotak {
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 1.5px black;
  }
  @keyframes KotakAnimation {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }
    50% {
      width: 25px;
      height: 25px;
      opacity: 0.5;
    }
    100% {
      width: 50px;
      height: 50px;
      opacity: 1;
    }
  }
  .sumbu h4 {
    width: 35px;
  }
  @keyframes SumbuAnimation {
    0% {
      font-size: 0px;
    }
    50% {
      font-size: 4px;
    }
    100% {
      font-size: 8px;
    }
  }
  h4.bujur_sangkar {
    font-size: 0.5em;
  }
}
